
/* ==========================================================================
   Base styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: @base02;
}

body {
    background: white url('img/graphy.png') top center;
    @media all and (-webkit-min-device-pixel-ratio: 2) {
        background: white url('img/graphy_@2X.png');
        background-size: 80px 160px;
    }

    .font-normal();
    font-family: 'Knockout 31 A', 'Knockout 31 B', sans-serif;
    font-size: @fontSizeMedium;
    line-height: 1.5;

    padding: 2 * @rhythmUnit;
}

// Animate link colors on hover
a {
    .base0B;
    .transition(~"color 90ms linear");

    text-decoration: none;

    &:hover,
    &:focus {
        .base0C;
    }
}

// Headlines
h1, h2, h3, h4 { .base02; font-family: 'Knockout 34 A', 'Knockout 34 B', sans-serif; }
h1 { font-size: @fontSizeXLarge;  }
h2 { font-size: @fontSizeLarge; }
h3, h4, h5, h6 { font-size: @fontSizeMedium; }
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 { font-size: @fontSizeMedium; }

// description lists
dl {
    dt {
    }
    dd {
        margin: 0;
    }
}

// Rounded corners on all images
img {
    .border-radius(@baseBorderRadius);
}

// Scale all images to their containers
img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

// Fluid container
.container {
    .clearfix();
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

// Page title
header {
    text-align: center;
}
.page-header {
    .box(fade(@base02, 90%), @base07);
    border: 6px double @base0D;

    text-transform: uppercase;

    position: relative;
    display: inline-block;
    padding-left: 40px;
    padding-right: 40px;

    &:before,
    &:after {
        background-color: @base0D;

        .rotateZ(45deg);

        content: '';
        position: absolute;
        top: 50%;
        margin-top: -5px;
        width: 10px;
        height: 10px;
    }
    &:before {
        left: 10px;
    }
    &:after {
        right: 10px;
    }

    .page-title {
        color: @base07;

        margin: 0;

        @media only screen and (max-width: 660px) {
            font-size: @fontSizeLarge;
        }
        @media only screen and (max-width: 500px) {
            font-size: @fontSizeMedium;
        }
    }

    .post-thumbnail {
        display: block;
    }
}

// Clear floated elements inside entry-content
.entry-content {
    .clearfix();
}

// Images in posts and events are scaled
.entry-content img {
    display: block;
    max-width: 100%;
    height: auto;
    @media only screen and (max-width: 520px) {
        &.alignleft,
        &.alignright {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }
    }
}



/* ==========================================================================
   Event Organizer
   ========================================================================== */

// Event lists
.eo-events {
    .unstyled-list();
    text-align: center;

    // Individual events
    .eo-event {
        .box();
        float: left;
        width: 46%;

        &:nth-child(even) {
            float: right;
        }
    }

    // Past events
    .past-events & .eo-event  {
        .box(@base04, @base03);
    }

    // Thumbnail
    .wp-post-image {
        display: block;
        margin: @rhythmUnit auto;
    }
}

.entry-meta {
    .base02();
    margin-bottom: @rhythmUnit;

    .event-monthyear:after {
        content: ' — ';
    }
}

.swdc-event-sponsors-widget {
    .box(white, @base0F);
}

header {
    margin-top: (4 * @rhythmUnit);
    margin-bottom: (4 * @rhythmUnit);
}
article {
    @media (min-width: @grid-breakpoint) {
        body.single-event & {
            float: left;
            width: 80%;
        }
    }

    margin-bottom: @rhythmUnit;
}
aside {
    @media (min-width: @grid-breakpoint) {
        body.single-event & {
            width: 15%;
            float: right;
        }
    }
}

// Session listing
.event-sessions {
    .list-unstyled;

    .session {
        border-top: 2px solid @base0A;
        padding: @rhythmUnit 0;

        .session-title {
            font-weight: bold;
        }
        .speaker-company {
            &:before {
                content: ', ';
            }
        }
    }
}

#main {
    border-top: 3px solid @base04;
    .border-radius(@baseBorderRadius);

    padding-top: (2 * @rhythmUnit);
    padding-bottom: (2 * @rhythmUnit);
}

.widget h1,
.widget h2,
.widget h3,
.widget h4 {
    font-size: @fontSizeSmall;
}

/* ==========================================================================
   FlexSlider
   ========================================================================== */

.flexslider {
    background-color: rgba(0,0,0,.4);
    .border-radius(@baseBorderRadius);

    max-width: 600px;
    padding: .5 * @rhythmUnit;
    margin: 0 auto (6 * @rhythmUnit);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

// Wordpress alignment classes
.alignright {
    float: right;
    margin-left: 1em;
}
.alignleft {
    float: left;
    margin-right: 1em;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// Unstyled list
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
