
/* ==========================================================================
   Base styles
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: @base02;
}

body {
    background-color: white;

    .font-normal();
    font-family: 'Nunito', sans-serif;
    font-size: @fontSizeMedium;
    line-height: 1.5;

    padding: 2 * @rhythmUnit;
}

// Animate link colors on hover
a {
    .base0D;
    .transition(~"color 90ms linear");

    text-decoration: none;

    &:hover,
    &:focus {
        .base0C;
    }
}

// Headlines
h1, h2, h3, h4 { .base02; .font-bold(); }
h1 { font-size: @fontSizeXLarge;  }
h2 { font-size: @fontSizeLarge; }
h3, h4, h5, h6 { font-size: @fontSizeMedium; }
aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 { font-size: @fontSizeMedium; }

// description lists
dl {
    dt {
    }
    dd {
        margin: 0;
    }
}
// Rounded corners on all images
img {
    .border-radius(@baseBorderRadius);
}

// Fluid container
.container {
    .clearfix();
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}

// Clear floated elements inside entry-content
.entry-content {
    .clearfix();
}

// Images in posts and events are scaled
.entry-content img {
    display: block;
    max-width: 100%;
    height: auto;
    @media only screen and (max-width: 520px) {
        &.alignleft,
        &.alignright {
            float: none;
            margin-right: auto;
            margin-left: auto;
        }
    }
}



/* ==========================================================================
   Event Organizer
   ========================================================================== */

// Event lists
.eo-events {
    .unstyled-list();

    // Individual events
    .eo-event {
        .box();
    }

    // Past events
    .past-events & .eo-event  {
        .eo-event-title {
            text-decoration: line-through;
        }
    }
}

// Single events
body.single article {
    @media (min-width: @grid-breakpoint) {
        float: left;
        width: 50%;
    }

    margin-bottom: @rhythmUnit;
}
body.single aside {
    @media (min-width: @grid-breakpoint) {
        width: 45%;
        float: right;
    }

    .entry-meta {
        .box();
        margin-bottom: @rhythmUnit;
    }

    .widget {
        border-bottom: 1px dotted @base09;
        padding-bottom: @rhythmUnit;
    }
}

// Session listing
body.single .sessions {
    clear: both;
    margin-top: 50px;
}


/* ==========================================================================
   FlexSlider
   ========================================================================== */

.flexslider {
    background-color: rgba(0,0,0,.4);
    .border-radius(@baseBorderRadius);

    max-width: 600px;
    padding: .5 * @rhythmUnit;
    margin: 0 auto (6 * @rhythmUnit);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

// Wordpress alignment classes
.alignright {
    float: right;
    margin-left: 1em;
}
.alignleft {
    float: left;
    margin-right: 1em;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
