
# Composer
/composer.phar
/vendor/
/wordpress/
/app/plugins/*

# Unmanaged plugins
!/app/plugins/swdc-events
!/app/plugins/eo-sponsors-widget

# Configuration
/wp-config.php

# Uploads
/app/uploads/
/media/
