/*!
 * SWDC DROIDCON
 */


// Google Fonts: Roboto
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic&subset=latin,latin-ext);

// Bootstrap
@import "bootstrap";

// Base16 color scheme
@import "base16/monokai";
@import "base16-bootstrap/dark";

// Additional variables
@import "variables";

// Theme partials
@import "layout";
@import "animations";
@import "utils";


/* ==========================================================================
   Base
   ========================================================================== */

// Event logotypes
body.single-event.stockholm-2013 .entry-title {
  .hide-text();

  display: inline-block;
  background: transparent url('../img/droidcon-stockholm-2013.png') center no-repeat;
  background-size: contain;

  width: 360px;
  height: 136px;
}

// Body background
body {
  background-image: url('../img/office_@2X.png');
  background-attachment: fixed;
  background-size: 70px;
}


/* ==========================================================================
   Sessions
   ========================================================================== */

.main .session {
  margin: (2 * @line-height-computed) 0;
  .clearfix();

  // Session header container
  .session-details {
    border-bottom: 1px dotted @base0D;

    // Make space for time label
    padding-bottom: @line-height-computed;
    position: relative;
  }

  // Session title
  .session-title {
    color: @base0C;

    margin-right: 130px; // approx. width of time label
  }

  // Session time info
  .session-time {
    .label;
    .label-info;

    position: absolute;
    bottom: -8px; // half badge height
    right: 0;
  }

  // Session text content
  .session-content {
    margin: @line-height-computed 0;
  }

  // Speaker listing inside session
  .session-speakers {
    .clearfix;

    margin-top: @line-height-computed;
    margin-bottom: @line-height-computed;

    .session-speaker {
      float: right;
      margin: @line-height-computed auto;
      width: @thumbnail-size;

      &:nth-child(even) {
        clear: left;
        float: left;
      }
    }

    @media (max-width: @screen-sm) {
      .session-speaker {
        &:nth-child(odd) {
          margin-left: @padding-large-horizontal;
        }
        &:nth-child(even) {
          margin-right: @padding-large-horizontal;
        }
        &:last-child:nth-child(odd) {
          float: none;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    // Float to right on larger screens
    @media (min-width: @screen-sm-max) {
      .pull-right;
      margin-left: @padding-large-horizontal;
      width: (2 * @thumbnail-size) + @padding-large-horizontal;
    }

  }

}


/* ==========================================================================
   Speakers
   ========================================================================== */

.main .speaker {
   img {
      border: 2px solid @base02;
   }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {

  // Event meta widget
  .widget-event-meta {
    .time {
      display: block;
      margin-bottom: @line-height-computed;
      font-size: @font-size-large;
      font-weight: bold;
      .text-warning;
    }
    .thumbnail {
      margin-bottom: @line-height-computed;
    }
    .venue .name {
      font-weight: bold;
    }
  }
}
