/*!
 * SWDC DROIDCON
 */


// Google Fonts: Roboto
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic&subset=latin,latin-ext);

// Bootstrap
@import "bootstrap";

// Base16 color scheme
@import "base16/monokai";
@import "base16-bootstrap/dark";

// Additional variables
@import "variables";

// Theme partials
@import "layout";
@import "animations";
@import "utils";


//
//  Event styles
//

// Logotype
body.single-event.stockholm-2013 .entry-title {
  .hide-text();

  display: inline-block;
  background: transparent url('../img/droidcon-stockholm-2013.png') center no-repeat;
  background-size: contain;

  width: 360px;
  height: 136px;
}
