//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------

// Grays
// -------------------------

@gray-darker:            @base01;
@gray-dark:              @base02;
@gray:                   mix(@base03, @base04, 50%);
@gray-light:             @base05;
@gray-lighter:           @base06;

// Brand colors
// -------------------------

@brand-primary:         @base0D;
@brand-success:         @base0B;
@brand-warning:         @base0A;
@brand-danger:          @base08;
@brand-info:            @base0C;

// Scaffolding
// -------------------------

@body-bg:               @base00;
@text-color:            @base07;

// Links
// -------------------------

@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);

// Tables
// -------------------------

@table-cell-padding:                 8px;
@table-condensed-cell-padding:       5px;

@table-bg:                           transparent; // overall background-color
@table-bg-accent:                    @base01; // for striping
@table-bg-hover:                     @base02;
@table-bg-active:                    @table-bg-hover;

@table-border-color:                 @base03; // table and cell border


// Buttons
// -------------------------

@btn-font-weight:                normal;

@btn-default-color:              rgba(255,255,255,.9);
@btn-default-bg:                 @base01;
@btn-default-border:             @base02;

@btn-primary-color:              rgba(0,0,0,.75);
@btn-primary-bg:                 @brand-primary;
@btn-primary-border:             darken(@btn-primary-bg, 5%);

@btn-success-color:              rgba(0,0,0,.75);
@btn-success-bg:                 @brand-success;
@btn-success-border:             darken(@btn-success-bg, 5%);

@btn-warning-color:              rgba(0,0,0,.75);
@btn-warning-bg:                 @brand-warning;
@btn-warning-border:             darken(@btn-warning-bg, 5%);

@btn-danger-color:               rgba(255,255,255,.9);
@btn-danger-bg:                  @brand-danger;
@btn-danger-border:              darken(@btn-danger-bg, 5%);

@btn-info-color:                 rgba(0,0,0,.75);
@btn-info-bg:                    @brand-info;
@btn-info-border:                darken(@btn-info-bg, 5%);

@btn-link-disabled-color:        @gray-light;


// Forms
// -------------------------

@input-bg:                       @base00;
@input-bg-disabled:              @base00;

@input-color:                    @base07;
@input-border:                   @base02;
@input-border-radius:            @border-radius-base;
@input-border-focus:             @base0D;

@input-color-placeholder:        @base04;

@legend-color:                   @base05;
@legend-border-color:            @base04;

@input-group-addon-bg:           @base01;
@input-group-addon-border-color: @input-border;


// Dropdowns
// -------------------------

@dropdown-bg:                    @base02;
@dropdown-border:                rgba(0,0,0,.15);
@dropdown-fallback-border:       @base00;
@dropdown-divider-bg:            @base03;

@dropdown-link-active-color:     rgba(0,0,0,.75);
@dropdown-link-active-bg:        @component-active-bg;

@dropdown-link-color:            @base05;
@dropdown-link-hover-color:      @base07;
@dropdown-link-hover-bg:         transparent;

@dropdown-link-disabled-color:   @base04;

@dropdown-header-color:          @base04;

@dropdown-caret-color:           @base04;


// Navbar
// -------------------------

// Basics of a navbar
@navbar-default-color:             @base05;
@navbar-default-bg:                @base00;
@navbar-default-border:            @base01;

// Navbar links
@navbar-default-link-color:                @base06;
@navbar-default-link-hover-color:          @base07;
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         @base07;
@navbar-default-link-active-bg:            @base01;
@navbar-default-link-disabled-color:       @base05;
@navbar-default-link-disabled-bg:          @navbar-default-link-hover-bg;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         @navbar-default-link-hover-color;
@navbar-default-brand-hover-bg:            @navbar-default-link-hover-bg;

// Navbar toggle
@navbar-default-toggle-hover-bg:           @base03;
@navbar-default-toggle-icon-bar-bg:        @base05;
@navbar-default-toggle-border-color:       @base02;


// Inverted navbar
//
// Reset inverted navbar basics
@navbar-inverse-color:                      @base04;
@navbar-inverse-bg:                         @base06;
@navbar-inverse-border:                     @base07;

// Inverted navbar links
@navbar-inverse-link-color:                 @base02;
@navbar-inverse-link-hover-color:           @base00;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             @base06;
@navbar-inverse-link-disabled-color:        @base04;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar search
// Normal navbar needs no special styles or vars
@navbar-inverse-search-bg:                  lighten(@navbar-inverse-bg, 25%);
@navbar-inverse-search-bg-focus:            #fff;
@navbar-inverse-search-border:              @navbar-inverse-bg;
@navbar-inverse-search-placeholder-color:   #ccc;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            @base02;
@navbar-inverse-toggle-icon-bar-bg:         @base04;
@navbar-inverse-toggle-border-color:        @base05;


// Navs
// -------------------------

@nav-link-hover-bg:                         @gray-lighter;

@nav-disabled-link-color:                   @gray-light;
@nav-disabled-link-hover-color:             @gray-light;

@nav-open-link-hover-color:                 #fff;
@nav-open-caret-border-color:               #fff;

// Tabs
@nav-tabs-border-color:                     #ddd;

@nav-tabs-link-hover-border-color:          @gray-lighter;

@nav-tabs-active-link-hover-bg:             @body-bg;
@nav-tabs-active-link-hover-color:          @gray;
@nav-tabs-active-link-hover-border-color:   #ddd;

@nav-tabs-justified-link-border-color:            #ddd;
@nav-tabs-justified-active-link-border-color:     @body-bg;

// Pills
@nav-pills-active-link-hover-bg:            @component-active-bg;
@nav-pills-active-link-hover-color:         #fff;


// Pagination
// -------------------------

@pagination-bg:                        #fff;
@pagination-border:                    #ddd;

@pagination-hover-bg:                  @gray-lighter;

@pagination-active-bg:                 @brand-primary;
@pagination-active-color:              #fff;

@pagination-disabled-color:            @gray-light;


// Pager
// -------------------------

@pager-disabled-color:                 @gray-light;


// Jumbotron
// -------------------------

@jumbotron-color:                inherit;
@jumbotron-bg:                   @gray-lighter;

@jumbotron-heading-color:        inherit;


// Form states and alerts
// -------------------------

@state-warning-text:             #c09853;
@state-warning-bg:               #fcf8e3;
@state-warning-border:           darken(spin(@state-warning-bg, -10), 3%);

@state-danger-text:              #b94a48;
@state-danger-bg:                #f2dede;
@state-danger-border:            darken(spin(@state-danger-bg, -10), 3%);

@state-success-text:             #468847;
@state-success-bg:               #dff0d8;
@state-success-border:           darken(spin(@state-success-bg, -10), 5%);

@state-info-text:                #3a87ad;
@state-info-bg:                  #d9edf7;
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);


// Tooltips
// -------------------------
@tooltip-color:               #fff;
@tooltip-bg:                  #000;

@tooltip-arrow-color:         @tooltip-bg;


// Popovers
// -------------------------
@popover-bg:                          #fff;
@popover-border-color:                rgba(0,0,0,.2);
@popover-fallback-border-color:       #ccc;

@popover-title-bg:                    darken(@popover-bg, 3%);

@popover-arrow-color:                 #fff;

@popover-arrow-outer-color:           rgba(0,0,0,.25);
@popover-arrow-outer-fallback-color:  #999;


// Labels
// -------------------------

@label-default-bg:            @gray-light;
@label-primary-bg:            @brand-primary;
@label-success-bg:            @brand-success;
@label-info-bg:               @brand-info;
@label-warning-bg:            @brand-warning;
@label-danger-bg:             @brand-danger;

@label-color:                 #fff;
@label-link-hover-color:      #fff;


// Modals
// -------------------------

@modal-content-bg:                             #fff;
@modal-content-border-color:                   rgba(0,0,0,.2);
@modal-content-fallback-border-color:          #999;

@modal-backdrop-bg:           #000;
@modal-header-border-color:   #e5e5e5;
@modal-footer-border-color:   @modal-header-border-color;


// Alerts
// -------------------------

@alert-border-radius:         @border-radius-base;

@alert-success-bg:            @state-success-bg;
@alert-success-text:          @state-success-text;
@alert-success-border:        @state-success-border;

@alert-info-bg:               @state-info-bg;
@alert-info-text:             @state-info-text;
@alert-info-border:           @state-info-border;

@alert-warning-bg:            @state-warning-bg;
@alert-warning-text:          @state-warning-text;
@alert-warning-border:        @state-warning-border;

@alert-danger-bg:             @state-danger-bg;
@alert-danger-text:           @state-danger-text;
@alert-danger-border:         @state-danger-border;


// Progress bars
// -------------------------

@progress-bg:                 #f5f5f5;
@progress-bar-color:          #fff;

@progress-bar-bg:             @brand-primary;
@progress-bar-success-bg:     @brand-success;
@progress-bar-warning-bg:     @brand-warning;
@progress-bar-danger-bg:      @brand-danger;
@progress-bar-info-bg:        @brand-info;


// List group
// -------------------------

@list-group-bg:               #fff;
@list-group-border:           #ddd;

@list-group-hover-bg:         #f5f5f5;
@list-group-active-color:     #fff;
@list-group-active-bg:        @component-active-bg;
@list-group-active-border:    @list-group-active-bg;

@list-group-link-color:          #555;
@list-group-link-heading-color:  #333;


// Panels
// -------------------------

@panel-bg:                    #fff;
@panel-inner-border:          #ddd;
@panel-footer-bg:             #f5f5f5;

@panel-default-text:          @gray-dark;
@panel-default-border:        #ddd;
@panel-default-heading-bg:    #f5f5f5;

@panel-primary-text:          #fff;
@panel-primary-border:        @brand-primary;
@panel-primary-heading-bg:    @brand-primary;

@panel-success-text:          @state-success-text;
@panel-success-border:        @state-success-border;
@panel-success-heading-bg:    @state-success-bg;

@panel-warning-text:          @state-warning-text;
@panel-warning-border:        @state-warning-border;
@panel-warning-heading-bg:    @state-warning-bg;

@panel-danger-text:           @state-danger-text;
@panel-danger-border:         @state-danger-border;
@panel-danger-heading-bg:     @state-danger-bg;

@panel-info-text:             @state-info-text;
@panel-info-border:           @state-info-border;
@panel-info-heading-bg:       @state-info-bg;


// Thumbnails
// -------------------------

@thumbnail-bg:                @body-bg;
@thumbnail-border:            #ddd;

@thumbnail-caption-color:     @text-color;


// Wells
// -------------------------

@well-bg:                     #f5f5f5;


// Badges
// -------------------------

@badge-color:                 #fff;
@badge-link-hover-color:      #fff;
@badge-bg:                    @gray-light;

@badge-active-color:          @link-color;
@badge-active-bg:             #fff;


// Breadcrumbs
// -------------------------

@breadcrumb-bg:               #f5f5f5;
@breadcrumb-color:            #ccc;
@breadcrumb-active-color:     @gray-light;


// Carousel
// ------------------------

@carousel-text-shadow:                        0 1px 2px rgba(0,0,0,.6);

@carousel-control-color:                      #fff;

@carousel-indicator-active-bg:                #fff;
@carousel-indicator-border-color:             #fff;

@carousel-caption-color:                      #fff;


// Close
// ------------------------

@close-color:                 #000;
@close-text-shadow:           0 1px 0 #fff;


// Code
// ------------------------

@code-color:                  #c7254e;
@code-bg:                     #f9f2f4;

@pre-bg:                      #f5f5f5;
@pre-color:                   @gray-dark;
@pre-border-color:            #ccc;

// Type
// ------------------------

@text-muted:                  @gray-light;
@abbr-border-color:           @gray-light;
@headings-small-color:        @gray-light;
@blockquote-small-color:      @gray-light;
@blockquote-border-color:     @gray-lighter;
@page-header-border-color:    @gray-lighter;

// Miscellaneous
// -------------------------

// Hr border color
@hr-border:                   @gray-lighter;
