

// Typography
// -------------------------

@font-family-sans-serif:  Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-font-weight:    700;


// Iconography
// -------------------------

@icon-font-path:          "../../../swdc-base/assets/fonts/";


// Navbar
// -------------------------

// Navbar brand label
@navbar-default-brand-color:               @link-color;
@navbar-default-brand-hover-color:         @base0E;
@navbar-default-brand-hover-bg:            transparent;

