/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* ==========================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* ==========================================================================
   Sessions
   ========================================================================== */

.event-sessions {
   .list-unstyled();
}

.main .session {
   .session-title {
      .lead;
   }
}


/* ==========================================================================
   Speakers
   ========================================================================== */

.session-speakers {
   .list-unstyled();
}

.main .speaker {
   display: block;

   text-align: center;

   img {
      .img-circle;
      margin-bottom: @padding-small-vertical;
   }
   .speaker-name,
   .speaker-company {
      display: block;
   }
   .speaker-name {
      .lead;
      margin-bottom: 0;
   }
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content {
   margin: @line-height-computed auto;

   font-size: @font-size-large;
}
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.contentinfo { }
